<div class="content">
<h1 mat-dialog-title class="title">Hi, who did you lose? </h1>
<div mat-dialog-content>
    <form [formGroup]="petsForm" class="container">
        <mat-form-field class="field">
            <input type="text" placeholder="Pick one" aria-label="Number"  matInput formControlName="animal" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="field">
            <input matInput placeholder="Enter your pets name" formControlName="name">
          </mat-form-field>
          <mat-form-field class="field">
              <input matInput placeholder="What kind of your pet?" formControlName="kind">
            </mat-form-field>
          <mat-form-field class="field">
            <input matInput placeholder="Enter age" formControlName="age">
          </mat-form-field>
          <mat-form-field class="field">
            <!-- <input matInput placeholder="How can we call you" formControlName="phone"> -->
           
                <!-- <label for="tel">Tel:</label> -->
                <input matInput id="tel" placeholder="Tel:" class="form-control" phoneMask [preValue]="petsForm.value.phone"  formControlName="phone" maxlength="14" 
                [ngClass]="(petsForm.controls['phone'].invalid)? 'errmsg' : 'validmsg'">		
                <mat-hint>
                    Status: <strong>{{petsForm.get('phone').status | json}}</strong>
                  </mat-hint>
          </mat-form-field>
         
          <mat-form-field class="field">
              <input type="text" placeholder="Pick color" aria-label="Number" matInput formControlName="color" [matAutocomplete]="autoColor">
              <mat-autocomplete #autoColor="matAutocomplete">
                <mat-option *ngFor="let color of colors" [value]="color">
                  {{color}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="field">
              <input matInput placeholder="Put this image (URL)" formControlName="photo">
            </mat-form-field>
      </form>
</div>
<div mat-dialog-actions class="btn">
  <button mat-stroked-button color="primary" (click)="onNoClick()">No Thanks</button>
  <button mat-stroked-button color="primary" (click)="addPet()">Ok</button>
</div>
</div>