<mgl-map
  [style]="'mapbox://styles/mapbox/streets-v9'"
  [zoom]="[11]"
  [center]="[35.132904, 47.844031]"
  (load)="map = $event"
  (click)="mapClicked($event)"
>
  <div *ngFor="let marker of markers; let i = index">
    <mgl-marker #myMarker [lngLat]="[marker.location.lng, marker.location.lat]">
      <!-- <img class="marker" src="{{marker.icon}}" alt="" /> -->
      <img class="marker" src="../../assets/img/ico4.png" alt="" />
    </mgl-marker>
    <mgl-popup  class="popup"
      [closeOnClick]="true" 
      [closeButton]="true"
      [marker]="myMarker">
      <h4> {{ marker.animal }} <i class="name">{{ marker.name }}</i></h4>
      <div class="img-container">
      <img class="img" src="{{marker.photo}}" alt="" /> <br />
      </div>
      <span class="color-marker">{{ marker.marker }}</span> <br />
      <span class="marker-size">{{ marker.kind }}</span><br />
      <span class="marker-size">{{ marker.tel }}</span><br />
      <span class="delete" (click)="delMarker(marker.id)">Delete</span>
    </mgl-popup>
  </div>
</mgl-map>

