.map {
  position: relative;
  height: 100vh;
}
mgl-map {
  height: 100vh;
  width: 100%;
}
.marker  {
  width: 30px;
  height: 30px;
}
::ng-deep mgl-popup .mapboxgl-popup {
  width: 200px;
  height: 100px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.22);
  z-index: 3;
  font-size: 14px;
}
::ng-deep .mapboxgl-popup-content {
  width: 200px;
  padding: 20px 30px 20px;
  border-radius: 5px;
}
.color-marker {
  color: red;
}
.popup {
  width: 180px;
  padding: 20px 30px 20px;
  /* width: 150px; */
}
.name {
  font-size: 16px;
  font-weight: bold;
}
.marker-size {
  font-size: 14px;
}
.img-container {
  /* margin: auto; */
  overflow: hidden;
}
.img {
 width: 200px;
 /* margin: auto; */
}
.delete {
  margin-top: 10px;
  color: #3A2F28;
  cursor: pointer;
}
.delete:hover {
  color: #666666;
}